body
{
  font-family: "Montserrat";
  text-align: center;
}

/* multiple selectors */
h1, h2, h3, h4, h5, h6
{
    font-family: "Montserrat";
    font-weight: 900;
}

p
{
  color: #8f8f8f;
}

/* Headings ------------------------------------------------------------------*/

.big-heading
{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading
{
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers ----------------------------------------------------------------*/

.container-fluid
{
  padding: 7% 15%;
}

/* Sections ------------------------------------------------------------------*/

.colored-section
{
  background-color: #8533ff; /* change */
  color: #fff;
}

.white-section
{
  background-color: #fff;
}

/* Buttons ----------------------------------------------------------*/
.download-button
{
  margin: 5% 3% 5% 0;
}

/* Navigation Bar ------------------------------------------------------------*/

.navbar
{
  padding: 0 0 4.5rem 0;
}

.navbar-brand
{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item
{
  padding: 0 18px;
}

.nav-link
{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight:300;
}

/* SECTION 1 - Title Section -------------------------------------------------------------*/

/* heirarchial selector */
#title .container-fluid
{
  padding: 3% 15% 7%; /* 3-top; 15-left & right; 7-bottom */
  text-align: left;
}

/* Title Image */
.title-image
{
  width: 60%;
  position: absolute;
  right: 30%
}

/* SECTION 2 - Features Section ---------------------------------------------------------*/

#features
{
  position: relative;
  /* z-index: 1; */
}

.feature-title
{
  font-size: 1.5rem;
}

.feature-box
{
  padding: 4.5%; /* to make feature box reduce size so that text appears in 2 lines */
}

.f-icon
{
  color: #c299ff;
  margin-bottom: 1rem;
}

.f-icon:hover
{
  color: #8533ff;
}

/* SECTION 3 - Testiomonials section -----------------------------------------------------*/

#testimonials
{
  background-color: #b380ff;
}

.testimonial-text
{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image
{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* SECTION 4 - Press section -------------------------------------------------------------*/

#press
{
  background-color: #b380ff;
  padding-bottom: 3%;
}

.press-logo
{
  width: 15%;
  margin: 20px 20px 50px;
}

/* SECTION 5 - Pricing Section -----------------------------------------------------------*/

#pricing
{
  padding: 100px;
}

.pricing-column
{
  padding: 3% 2%;
}

.price-text
{
  font-size: 3rem;
  line-height: 1.5;
}

.price-breed /* i added this assuming she forgot */
{
  font-size: 1.5rem;
}

/* SECTION 6 - Call to action Section ----------------------------------------------------*/


/* Footer Section ------------------------------------------------------------*/

.social-icon
{
  padding: 20px 10px;
}

/* put this media query ONLY at the bottom of the css file as shown in this file*/
/* when view width becomes less than 1028px, then these get applied */
@media (max-width:1028px)
{
  #title
  {
    text-align: center;
  }

  .title-image
  {
    position: static;
    transform: rotate(0);
  }
}
